.registerContainer {
  background: #e9e9e9;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .registerLeft {

} */

.registerRow {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 50vw;
  padding: 3vw;
}

.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}

label {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ccc;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
