body {
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.verticalCenter {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.bandProfilePicture,
.spinnerContainer {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPost,
.post {
  padding: 19px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  width: 32vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createPostProfilePicture {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.createPostForm,
.commentForm {
  width: 25vw;
}

.groupLeftContainer {
  display: flex;
  width: fit-content;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
}

.bandName {
  margin: 3vh 0;
}

.groupFeedContainer {
  margin-top: 5vh;
}

.post {
  display: flex;
  justify-content: left;
}

.createPostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  align-items: baseline;
}

.form-control {
  width: 30vw;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
}

a,
.card-title {
  color: inherit !important;
  text-decoration: inherit !important;
}

.likesCommentsContainer {
  padding: 12px 0px;
  display: flex;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
}

.likesCommentsContainer p {
  margin: auto 21px auto 7px;
}

.commentsLikeContainer {
  display: flex;
}

.commentsLikeContainer p {
  margin: auto auto auto 7px;
  font-size: 13px;
}

.likeIcon,
.commentIcon {
  width: 23px;
  height: auto;
}

.cardImage {
  width: 10rem;
  height: 15rem;
}

footer {
  height: 10vh;
}

.comment {
  position: relative;
  padding: 6px 12px;
  background-color: rgb(245, 247, 250);
  color: rgb(52, 58, 64);
  font-size: 13px;
  line-height: 1.54;
  border-radius: 0px 12px 12px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
}

.created_at {
  white-space: nowrap;
  font-size: 12px;
  color: rgb(173, 177, 184);
}

.createCommentProfilePicture {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.singleCommentContainer {
  padding: 12px 0px;
}

.commentDisplayName,
.postDisplayName {
  font-weight: bold;
}

.dot::before {
  content: "·";
  margin: 0px 5px;
  color: rgb(173, 177, 184);
}

.replyButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  padding: 0px;
}

.commentLikeIcon {
  height: 17px;
}

.commentCommentIcon {
  height: 19px;
}

.commentFormContainer {
  padding-top: 20px;
}

.spinner {
  width: 30px;
  display: flex;
}
